In [53]:
import numpy as np
import pandas as pd
data = np.loadtxt("training_boston_x_y_train.csv", delimiter=",")
x_train=data[:,:13]
y_train=data[:,13]
y_train.shape

(379,)

In [54]:
li = ['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10','x11','x12','x13']
df = pd.DataFrame(x_train)
df.columns = li
df

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13
0,-0.407850,-0.487722,-1.266023,-0.272599,-0.576134,1.239974,0.840122,-0.520264,-0.752922,-1.278354,-0.303094,0.410571,-1.097990
1,-0.407374,-0.487722,0.247057,-0.272599,-1.016689,0.001946,-0.838337,0.336351,-0.523001,-0.060801,0.113032,0.291169,-0.520474
2,0.125179,-0.487722,1.015999,-0.272599,1.367490,-0.439699,0.687212,-0.577309,1.661245,1.530926,0.806576,-3.795795,0.891076
3,0.028304,-0.487722,1.015999,-0.272599,1.859875,-0.047918,0.801005,-0.712836,1.661245,1.530926,0.806576,-0.066050,0.215438
4,-0.412408,-0.487722,-0.969827,-0.272599,-0.913029,-0.384137,-0.834781,0.300508,-0.752922,-0.957633,0.020560,0.431074,0.029007
...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,-0.204929,-0.487722,1.231945,3.668398,0.434551,2.161728,1.053485,-0.833960,-0.523001,-0.031105,-1.736418,0.361122,-1.504494
375,0.231398,-0.487722,1.015999,-0.272599,1.367490,0.215644,0.687212,-0.703186,1.661245,1.530926,0.806576,-2.812183,0.499991
376,-0.408311,-0.487722,0.247057,-0.272599,-1.016689,-0.206055,-0.809889,0.140451,-0.523001,-0.060801,0.113032,0.332066,-0.334043
377,-0.410620,-0.487722,-1.152214,-0.272599,-0.818007,0.068904,-1.826921,0.674814,-0.637962,0.129256,-0.719220,0.203235,-0.744752
378,0.342909,-0.487722,1.015999,3.668398,0.659147,1.041946,1.028593,-1.232462,1.661245,1.530926,0.806576,0.387875,-1.358713

In [55]:
for i in range(13):
    for j in range(i, 13):
        ele = li[i] + "_" + li[j]
        df[ele] = df[li[i]]*df[li[j]]
df.shape

(379, 104)

In [56]:
x=df.iloc[:,:]
x

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x10_x10,x10_x11,x10_x12,x10_x13,x11_x11,x11_x12,x11_x13,x12_x12,x12_x13,x13_x13
0,-0.407850,-0.487722,-1.266023,-0.272599,-0.576134,1.239974,0.840122,-0.520264,-0.752922,-1.278354,...,1.634190,0.387462,-0.524855,1.403620,0.091866,-0.124442,0.332794,0.168569,-0.450803,1.205582
1,-0.407374,-0.487722,0.247057,-0.272599,-1.016689,0.001946,-0.838337,0.336351,-0.523001,-0.060801,...,0.003697,-0.006873,-0.017703,0.031646,0.012776,0.032911,-0.058830,0.084779,-0.151546,0.270893
2,0.125179,-0.487722,1.015999,-0.272599,1.367490,-0.439699,0.687212,-0.577309,1.661245,1.530926,...,2.343736,1.234808,-5.811084,1.364172,0.650565,-3.061597,0.718720,14.408063,-3.382342,0.794016
3,0.028304,-0.487722,1.015999,-0.272599,1.859875,-0.047918,0.801005,-0.712836,1.661245,1.530926,...,2.343736,1.234808,-0.101117,0.329820,0.650565,-0.053274,0.173767,0.004363,-0.014230,0.046414
4,-0.412408,-0.487722,-0.969827,-0.272599,-0.913029,-0.384137,-0.834781,0.300508,-0.752922,-0.957633,...,0.917061,-0.019689,-0.412811,-0.027778,0.000423,0.008863,0.000596,0.185825,0.012504,0.000841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,-0.204929,-0.487722,1.231945,3.668398,0.434551,2.161728,1.053485,-0.833960,-0.523001,-0.031105,...,0.000968,0.054011,-0.011233,0.046797,3.015147,-0.627058,2.612430,0.130409,-0.543306,2.263502
375,0.231398,-0.487722,1.015999,-0.272599,1.367490,0.215644,0.687212,-0.703186,1.661245,1.530926,...,2.343736,1.234808,-4.305245,0.765449,0.650565,-2.268239,0.403281,7.908372,-1.406066,0.249991
376,-0.408311,-0.487722,0.247057,-0.272599,-1.016689,-0.206055,-0.809889,0.140451,-0.523001,-0.060801,...,0.003697,-0.006873,-0.020190,0.020310,0.012776,0.037534,-0.037758,0.110268,-0.110924,0.111585
377,-0.410620,-0.487722,-1.152214,-0.272599,-0.818007,0.068904,-1.826921,0.674814,-0.637962,0.129256,...,0.016707,-0.092963,0.026269,-0.096263,0.517278,-0.146171,0.535641,0.041304,-0.151360,0.554656
378,0.342909,-0.487722,1.015999,3.668398,0.659147,1.041946,1.028593,-1.232462,1.661245,1.530926,...,2.343736,1.234808,0.593808,-2.080090,0.650565,0.312850,-1.095905,0.150447,-0.527011,1.846102

In [57]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor()

model.fit(x,y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [58]:
## test_boston_x_test.csv
data = np.loadtxt("test_boston_x_test.csv", delimiter=",")
x_test=data[:,:]

x_test.shape

(127, 13)

In [59]:
li = ['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10','x11','x12','x13']
df = pd.DataFrame(x_test)
df.columns = li
df

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13
0,2.918166,-0.487722,1.015999,-0.272599,0.365444,-1.609343,1.117494,-1.048494,1.661245,1.530926,0.806576,-1.597551,1.041062
1,-0.403392,-0.487722,0.406098,-0.272599,-1.016689,0.560412,-1.332629,1.029344,-0.637962,-0.708183,-1.135347,0.441052,-0.894738
2,-0.413178,-0.487722,0.115738,-0.272599,0.158124,-0.234548,0.288933,-0.716639,-0.982843,-0.803212,1.176466,0.441052,-0.500850
3,-0.412649,0.413589,-0.802031,-0.272599,-0.999412,-0.408356,-1.677566,1.435452,-0.637962,-0.981390,-0.765457,0.441052,-0.591963
4,-0.405882,-0.487722,-0.375976,-0.272599,-0.299707,-0.127698,-0.504068,-0.483566,-0.523001,-0.143951,1.130230,0.403663,0.048631
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,-0.408684,-0.487722,0.247057,-0.272599,-1.016689,-0.585014,-1.137046,0.336351,-0.523001,-0.060801,0.113032,0.431842,-0.498046
123,-0.408903,-0.487722,0.406098,-0.272599,-1.016689,-0.392685,-0.934351,0.811768,-0.637962,-0.708183,-1.135347,0.441052,-0.315820
124,-0.410014,2.087452,-1.378373,-0.272599,-1.241285,-0.570767,-1.780692,3.287300,-0.637962,0.016409,-0.071913,0.390945,-0.681674
125,-0.403176,-0.487722,-0.375976,-0.272599,-0.299707,-0.224575,0.591198,-0.795123,-0.523001,-0.143951,1.130230,0.340070,0.201421
126,-0.133563,-0.487722,1.231945,-0.272599,2.732346,-1.442658,0.904131,-0.978615,-0.523001,-0.031105,-1.736418,-2.938931,0.488777

In [60]:
for i in range(13):
    for j in range(i, 13):
        ele = li[i] + "_" + li[j]
        df[ele] = df[li[i]]*df[li[j]]
df.shape

(127, 104)

In [61]:
y_test_pred = model.predict(df.iloc[:,:])
y_test_pred

array([15.27275237, 27.18851934, 13.93930736, 22.44491032, 22.0747504 ,
       12.00444521, 28.15144029, 23.14049253, 17.86213339, 22.95553241,
       22.77853598, 17.44068994, 19.74574497, 21.34084648, 50.50835128,
       22.60058449, 24.07105215, 22.86111918, 19.20178737, 31.88341149,
       20.80539534, 20.97594617, 35.3198303 , 30.63227663, 32.98154786,
       16.47550957, 22.66188735, 27.7722635 , 20.44259499, 28.62923577,
       16.92900024, 23.49667637, 18.83603331, 23.0170072 ,  9.07320245,
       26.13984671, 22.48233308, 20.9569094 , 22.78599237,  8.58213538,
       12.89272576, 23.12295763, 23.89620207, 19.61793856, 20.50147221,
        9.04340903, 43.86650117, 24.00400717, 34.98160031, 13.29357716,
       14.24537911, 45.14826917, 12.81636768, 20.85955713, 14.98046397,
       19.36898093, 18.46135627, 21.16533852, 14.64488863, 15.85466631,
       15.91175404, 26.69120317, 22.13639951, 23.31881282, 14.6653979 ,
       17.56133981, 32.79463327, 13.428337  , 20.01775647, 20.90296945,
       27.19096343, 22.16729684, 15.4466763 ,  7.23319249, 42.8908864 ,
       22.6121966 , 24.36464659, 24.03373592,  9.66753071, 31.77321765,
       19.981414  , 20.91279895, 19.7077767 , 19.51534852, 15.75893571,
       37.53077235, 24.84439101,  8.27305212, 21.63621507, 17.95893773,
       21.87621342, 20.90440988, 19.27804853, 10.2273832 , 20.25891784,
       24.63864748, 46.33044817, 19.43833701, 35.86160341, 23.67834248,
       24.6608531 , 20.5942144 , 21.73428496, 26.31833659, 13.54790707,
       23.95482476, 21.94841328, 44.37512642, 21.87559943, 16.08187402,
       22.46526378, 12.49534903, 18.41352084, 19.44274123, 43.8682444 ,
       19.3489551 , 20.2742997 , 24.82691062, 21.99502356, 18.90940472,
       13.6856396 , 31.05086201, 22.27584931, 21.36279154, 22.27601613,
       21.2006962 , 15.00601753])

In [62]:
score_test=model.score(x,y_train)
score_test

0.9860607846830588

In [63]:
np.savetxt('boston_gradient_results.csv', y_test_pred.reshape(-1,1),fmt='%.5f', delimiter =', ')