In [ ]:
import sqlite3
db=sqlite3.connect('Employee.sqlite')
cur=db.cursor()

In [ ]:
cur.execute('create table Employee_Detail(employee_id int,name text,age int,department text,salary int)')
db.commit()

A given data of 12 Employees working in an investment firm. So add the Employee Data in Employee SQLite Database of Employee_Detail Table which was created by you.  
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]  
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']  
age=[25,27,25,24,30,26,23,26,25,26,29,24]  
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']  
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

In [ ]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

data=[]
for i in range(12):
    data.append((employee_id[i],str(name[i]),age[i],str(department[i]),salary[i]))

for i in range(12):
    print(data[i])

In [ ]:
cur.executemany("insert into Employee_Detail values(?,?,?,?,?)",(data))
db.commit()

Find the employee_id of employee whose is working in Finance Department in Investment firm from Employee SQLite Database.  
Print the employee_id as integer value.

In [ ]:
cur.execute('select employee_id from Employee_Detail where department in ("Finance")')
print(cur.fetchall())

Find the number of employee working in different department in an investment firm from Employee SQLite Database.  
Print the department and number of employee.

In [ ]:
cur.execute('select department, count(department) from Employee_Detail group by department')
print(cur.fetchall())