In [7]:
import sqlite3
db=sqlite3.connect('Employee.sqlite')
cur=db.cursor()

In [8]:
cur.execute('create table Employee_Detail(employee_id int,name text,age int,department text,salary int)')
db.commit()

In [9]:
values=[(100,"Rishav",25,"Marketing",50000),(101,"Abhishek",26,"Operations",60000),(102,"Aman",24,"Human Resource",75000)]
cur.executemany('insert into Employee_Detail values(?,?,?,?,?)',values)
db.commit()

In [13]:
cur.execute('delete from Employee_Detail where employee_id=101')

In [14]:
db.commit()

In [39]:
employee_id=100
cur.execute('delete from Employee_Detail where employee_id=?',(employee_id,))
db.commit()

In [33]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

data=[]
for i in range(12):
    data.append((employee_id[i],str(name[i]),age[i],str(department[i]),salary[i]))

for i in range(12):
    print(data[i])

(101, 'Aadarsh', 25, 'Marketing', 50000)
(102, 'Aarti', 27, 'Operations', 60000)
(103, 'Siddharth', 25, 'Finance', 85000)
(104, 'Aman', 24, 'Human Resource', 75000)
(105, 'Amit', 30, 'Marketing', 50000)
(106, 'Shivansh', 26, 'IT', 90000)
(107, 'Vaibhav', 23, 'Finance', 85000)
(108, 'Himanshu', 26, 'IT', 90000)
(109, 'Raman', 25, 'Operations', 60000)
(110, 'Kunal', 26, 'Marketing', 50000)
(111, 'Adhira', 29, 'Human Resource', 75000)
(112, 'Tanya', 24, 'Marketing', 50000)

In [34]:
cur.executemany("insert into Employee_Detail values(?,?,?,?,?)",(data))

In [35]:
db.commit()

In [37]:
cur.execute('select employee_id from Employee_Detail where department in ("Finance")')
print(cur.fetchall())

[(103,), (107,)]

In [40]:
cur.execute('select department, count(department) from Employee_Detail group by department')
print(cur.fetchall())

[('Finance', 2), ('Human Resource', 2), ('IT', 2), ('Marketing', 4), ('Operations', 2)]