In [4]:
# Set is collection of data but it is unordered and contains unique vaule.
# Set does not support indexing

a={"abc","123",23}
print(type(a))

print('abc' in a)

for i in a:
    print(i)

<class 'set'>
True
123
abc
23

In [5]:
# How to add data in set
a.add("ijkl")
print(a)

{'ijkl', '123', 'abc', 23}

In [12]:
# Update function
b={1,2,3,4}
a.update(b)
print(a)

{1, 2, 3, 4, 'abc', 23, 'ijkl', '123'}

In [13]:
# how to remove data
a.remove(1) # It will give error if it does not find element to delete
print(a)

a.discard(2) # It will not give error if it does not find element to delete
print(a)

{2, 3, 4, 'abc', 23, 'ijkl', '123'}
{3, 4, 'abc', 23, 'ijkl', '123'}

In [17]:
print(a.pop()) # This remove one random element and return its value
print(a)

a.clear() # Clear the set
print(a)

23
{'ijkl', '123'}
set()

In [34]:
a={1,2,3,4}
b={3,4,5,6}
print(a.intersection(b)) # Intersection of two sets

{3, 4}

In [21]:
print(a.union(b)) # Union of two sets

{1, 2, 3, 4, 5, 6}

In [22]:
print(a.difference(b)) # Elmenets which is present in a but not in b

{1, 2}

In [24]:
print(a.symmetric_difference(b)) # Union-Intersection

{1, 2, 5, 6}

In [27]:
a.intersection_update(b) # a will be updated with intersection
print(a)

{3, 4}

In [35]:
a.difference_update(b)
print(a)

# There is no union update

{1, 2}

In [41]:
x={1,2}
y={1,4,2,3}
print(x.issubset(y))
print(y.issuperset(x))
print(x.isdisjoint(y))

True
True
False

In [45]:
# s = {}
# s.add(4) # This will give error

s=set()
s.add(4)
print(s)
# A set is created by using the set() function or placing all the elements within a pair of curly braces,
# separated by commas.

{4}

In [ ]:
# Find sum of all unique number from list
n=int(input())
a=[int(i) for i in input()]
s=set()
for i in a:
    s.add(i)
sum=0
for i in s:
    sum+=i
print(sum)